/raw/*
!/raw/.gitkeep
/resized/*
!/resized/.gitkeep
/train_set/*
!/train_set/.gitkeep
/validate_set/*
!/validate_set/.gitkeep
/test_set/*
!/test_set/.gitkeep
/train_set_augmented/*
!/train_set_augmented/.gitkeep
/plot/*
!/plot/.gitkeep
/models/*
!/models/.gitkeep
/test_outputs/*
!/test_outputs/.gitkeep
*.pt
*.pth
*.onnx
*.log
__pycache__/
*.pyc
