/raw/*
!/raw/.gitkeep
/resized/*
!/resized/.gitkeep
!/resized/bean/
!/resized/no_bean/
!/resized/corrupted/
/resized/bean/*
!/resized/bean/.gitkeep
/resized/no_bean/*
!/resized/no_bean/.gitkeep
/resized/corrupted/*
!/resized/corrupted/.gitkeep
/train_set/*
!/train_set/.gitkeep
/validate_set/*
!/validate_set/.gitkeep
/test_set/*
!/test_set/.gitkeep
/train_set_augmented/*
!/train_set_augmented/.gitkeep
/plot/*
!/plot/.gitkeep
/models/*
!/models/.gitkeep
/test_outputs/*
!/test_outputs/.gitkeep
*.pt
*.pth
*.onnx
*.log
__pycache__/
*.pyc
